.button_register {
  background-color: #ffc7ba !important;
  color: rgb(47, 12, 12) !important;
}

.button_sign_in {
  background-color: #ffc7ba !important;
  color: rgb(47, 12, 12) !important;
}
.auth {
  background-image: url(https://cdn.shopify.com/s/files/1/2529/3968/files/bannerlarge.jpg?v=1669608447&width=1500);
}
